body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

header{
    background-color: #BBBBBB;
    padding: 20px 0;/* Superior e inferior y 0 para los alterales*/
}

.Caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 85px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;/* margin recibe 4 medidas, 1-arriba 2- A la derecha 3-Hacia abajo 4- Hacia la izquierda*/
}

nav a{
    text-transform: uppercase;/*ponemos el texto en mayuscula de los link*/
    color: #000000;
    font-weight: bold;/*Ponemos el texto en negrita*/
    font-size: 22px;
    text-decoration: none; /*le retira el subrallado*/

}

nav a:hover{/*Captura el movimiento del mause*/
    color: #c78c19;
    text-decoration: underline; 
}


.ProductosNavegacion{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.ProductosNavegacion li{
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 0 1.5%;
    vertical-align: top;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000; /* Los bordes se los puede simplicar de esta manera*/
    transition: border-color 0.3s; /* Agrega una transición suave al cambio de color de borde */
    /*
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    */
    border-radius: 10px; /*Puntas de bordes*/

}


.ProductosNavegacion li:hover{
    border-color: #c78c19;
    margin-bottom: -4px;
   

}

.ProductosNavegacion li:hover h2{
    font-size: 25px;

}

.ProductosNavegacion li:active{/*Captura cuando de hace click*/
    border-color: #088c19;
}

.ProductosNavegacion h2{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    
}

.ProductoDescripcion{
    font-size: 18px;
}


.ProductoIngreso{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    
}

footer{
    text-align: center;
    background: url(Productos/Pie.jpg);
    margin-top: 10px;
    padding: 40px;
}

.Copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}

/*STYLE DE CONTACTO*/


main{
    margin: 0 40px;
}

form{
    margin: 40px 0;
}

form label, form legend{ /*Separando por una coma puedo aplicarle el mismo estilo a otra etiqueta*/
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}


.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 30%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: green;
    border: none;
    border-radius: 5px;
    margin: 0 40px;
    transition: 1s all;/*Nos da una leve demora en el selector de enviar formulario*/
    cursor: pointer;/*Para cambiar la forma del puntero cuando este arriba del boton*/
}


.enviar:hover{
    background: darkgreen;
    transform: scale(1.2);/* rotate(70deg); scale=Aumenta el tamaño del objeto una vez este por arriba el mause y rotate es la rotacion del objeto*/
    
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td,th{
    border: 1px solid #000000;
    padding: 8px 15px ;
}

/*CSS para el index (pagina inicial)*/

.banner{
    width: 100%;
}

/*
main > p{ Asi aplicaria solo al hijo directo del main
    background: red;
}

img + p{ Aplica al primer parrafo que viene despues de la imagen
    background: yellow;
}

img ~ p{ Aplica a todos los parrafos despues de la imagen
    background: #088c19;
}
*/

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.tituloPrincipal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    /*color: rgba(218,0,0.3)Nos permite ponerle opacidad al texto*/
}

/*
.tituloPrincipal:first-letter{/*Primer letra en negrita
    font-weight: bold;
}

.tituloPrincipal:before{ Al inicio
    content: "[";
}

.tituloPrincipal:after{ Al final
    content: "]";
}


p:first-line{
    font-style: italic;
}
*/

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.Herramientas{
    width: 120px;
    float: left; /* la superficie del elemento continúa siendo utilizada y los otros elementos de texto o elementos en línea se posicionan alrededor de él.*/
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0; /* 3 em seria 3 veces el tamaño de la fuente por defecto*/
    background: linear-gradient(#FEFEFE,#888888);/*Crear el degradado de un color hacia otro linear-grandient (se puede aplicar con angulos ej: 45deg, como primer parametro tambien agregar cuanto % queres que ocupe cada color*/
    /*background: radial-gradient(); seria lo mismo pero degradado en circulo*/

}

.mapa p{
    margin:  0 0 2em;
    text-align: center;
}

.mapaContenido{
    width: 940px;
    margin: 0 auto;
}

.diferenciales{
    padding: 3em 0;
    background: #888888;

}

.contenidoDiferencial{
    width: 640px;
    margin: 0 auto;
}

.listaDiferenciales{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.items{
    line-height: 1.5;
}

.items:before{
    content: "𓆰";
}

.items:first-child{
    font-weight: bold;
}

.imagenDiferenciales{
    width: 50%;
    transition: 400ms;
    box-shadow: 10px 10px 20px 5px #000000; /*La sombra*/
}

.imagenDiferenciales:hover{
    opacity: 0.3;
    
}

.video{
    width: 560px;
    margin: 1em auto;
}


@media screen and (max-width:480px){/*permite que trabajemos con excepciones o, dada una condicion, aplicar algo diferente*/
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .Caja,.principal,.mapaContenido, .contenidoDiferencial, .video{
        width: auto;
    }
    .listaDiferenciales, .imagenDiferenciales{
        width: 100%;
    }
}

/*mobileinputtypes.com*/
/*https://fonts.google.com/ fuentes de google*/
/*Box Shadow en Google, CSS Generator, usar el de Mozilla (sombras)*/
